/*html, body {
  background-color: #eee;
}*/
body {
  padding-top: 50px; 
}
/*.container {
  margin-top: 
  height: 100px;
  width: 400px;
}*/

/* The white background content wrapper */
.container > .content {
  width: 300px;
  right: -112px
  background-color: #fff;
  padding: 30px;
  margin: 45px 45px 45px 45px; 
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     box-shadow: 0 30px 20px rgba(0,0,0,.15);
}

.login-form {
  margin-left: 55px;
}

legend {
  margin-right: -50px;
  font-weight: bold;
  color: #404040;
}

button:after {
  content: " >>>";
}

button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}