<link rel="stylesheet" type="text/css" href="assets/password.css">
<section>
        <label for="password">Password strength:</label>
        <br>
        <div class="clearfix">
          <div class="pw-bar"></div>
          <div class="pw-bar"></div>
          <div class="pw-bar"></div>
          <div class="pw-bar"></div>
          <div class="pw-bar"></div>
        </div>

        <p id="pswd-strength-txt"></p>
        <p id="pswd-feedback"></p>
</section>