<header>
	<div class="container">
	<div class="intro-text">
	<p>Uber For Dogs</p>
	<img src="http://favoritedogwalkers.com/wp-content/themes/u-design/sliders/cycle/cycle3/images/dogwalkinganddogparkvisitla.jpg">
	
		<div class="desc-wrapper" data-content-field="description">
			<p>Schedule an appointment today!</p>
			<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>		
		</div>
	</div>
	</div>
</header>

<section id="services">
<div class="container">
	<div class="row">
	</div>
</div>
</section>

